*{
    margin: 0;
    padding: 0;
}
.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 960px;
}
.container {
    display: inline-block;
    border: 5px solid black;
    display: flex;
}


grid {
    display: grid;
    grid-template-columns: repeat(16, 60px);
    grid-template-rows: repeat(16, 60px);
   
}

cell {
    background: white;
    border: solid black 1px;
}

.color {
    background-color: aqua;
}
